<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graduationproject.grad_project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradProject">
        <service android:name=".FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity
            android:name=".view.admin.HomePageAdminActivity"
            android:exported="false" />
        <activity
            android:name=".view.resident.HomePageResidentActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUpMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.ResidentNewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.SiteInformationResidentActivity"
            android:exported="false" />
        <activity
            android:name=".view.SiteInformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdministratorNewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>